<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Login - Credit Card Style</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="./style.css">
</head>
<body>

<div class="wrapper" id="app">
  <div class="card-form">
    <div class="card-list">
      <div class="card-item" v-bind:class="{ '-active' : isCardFlipped }">
        
        <!-- BAGIAN DEPAN KARTU (Tampilan Email) -->
        <div class="card-item__side -front">
          <div class="card-item__cover">
            <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'" class="card-item__bg">
          </div>
          
          <div class="card-item__wrapper">
            <!-- Chip Gambar -->
            <div class="card-item__top">
              <img src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/chip.png" class="card-item__chip">
            </div>

            <!-- Tampilan Email di tengah kartu -->
            <div class="card-item__email-display">
                <transition name="slide-fade-up">
                    <span v-if="email.length > 0" key="1">{{ email }}</span>
                    <span v-else key="2">masukkan@email.com</span>
                </transition>
            </div>
            
            <div style="text-align: center; color: white; opacity: 0.8; font-size: 12px; margin-top: 5px;">
                Secure Login Access
            </div>
          </div>
        </div>

        <!-- BAGIAN BELAKANG KARTU (Tampilan Password) -->
        <div class="card-item__side -back">
          <div class="card-item__cover">
            <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'" class="card-item__bg">
          </div>
          <div class="card-item__band"></div>
          <div class="card-item__cvv">
              <div class="card-item__cvvTitle">Password</div>
              <div class="card-item__cvvBand">
                <!-- Loop untuk menampilkan bintang sesuai panjang password -->
                <span v-for="(n, $index) in password" :key="$index">*</span>
              </div>
              <div class="card-item__type">
                 <!-- Hiasan saja -->
              </div>
          </div>
        </div>

      </div>
    </div>

    <!-- FORM INPUT -->
    <div class="card-form__inner">
      <form @submit.prevent="submitForm">
        
        <!-- Input Email -->
        <div class="card-input">
          <label for="email" class="card-input__label">Email Address</label>
          <input
            type="email"
            id="email"
            class="card-input__input"
            v-model="email"
            v-on:focus="flipCard(false)"
            autocomplete="off"
            required
          >
        </div>

        <!-- Input Password (dianimasikan dibalik kartu) -->
        <div class="card-input">
          <label for="password" class="card-input__label">Password</label>
          <input
            type="password"
            id="password"
            class="card-input__input"
            v-model="password"
            v-on:focus="flipCard(true)"
            v-on:blur="flipCard(false)"
            autocomplete="off"
            required
          >
        </div>

        <!-- Tombol Login -->
        <button type="submit" class="card-form__button" :disabled="isLoading">
          <span v-if="!isLoading">Login</span>
          <span v-else>Memeriksa...</span>
        </button>

        <!-- Pesan Error -->
        <div class="error-message" v-if="errorMessage" style="display: block;">
            {{ errorMessage }}
        </div>

        <!-- Link Tambahan -->
        <div class="auth-links">
            <a href="forgot.html">Forgot Password?</a>
            <a href="register.html">Register</a>
        </div>

      </form>
    </div>
  </div>
</div>

<!-- Library Vue.js -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
<script src="./script.js"></script>

</body>
</html>
